html {
  scroll-behavior: smooth;
}

.h-screen {
  height: calc(var(--vh, 1vh) * 100);
}

.invaders {
  @import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

  div,
  img,
  a,
  p {
    transition-duration: 0.4s;
  }

  .page-top {
    padding-top: 60px;

    @media screen and (min-width: 1290px) {
      padding-top: 70px;
    }
  }
}

.k-webkit p strong {
  color: #fff !important;
}

.linkinnit a {
  color: #8e278a;
  transition-duration: 0.3s;
}

.linkinnit a:hover {
  color: #48237f;
  transition-duration: 0.3s;
  cursor: pointer;
}

.ab-item img {
  display: none !important;
}
