body.invaders {
  background: #061116;
}

.bg-shape-purple {
  background-color: rgba($color: #000000, $alpha: 0.15);
  clip-path: polygon(
    50% 0%,
    100% 0,
    100% calc(100% - 25px),
    calc(100% - 20px) 100%,
    0 100%,
    0% 60%,
    0 0
  );
}
